h1{
    height: 10dvi;
    font-size: 9dvi;
    padding-left: 31.75%;
    color:  darkblue;
}
table{
    border: 1px solid darkblue;
    width: 90vw;
    margin: 2.5vw;
}
table input{
    width: 15dvi;
}
tr td{
    height: 5dvi;
    width: 5dvi;
    margin: 1%;
}
h2{
    padding-left: 31.75%;
}
button{
    padding-left: 31.75%;
}
th{
    color:  darkblue;
}
h2{
    color: darkblue;
}