body{
    height: 99vh;
    width: 99vw;
    background-color: lightgreen;
    color: darkred;
    display: flex;
    flex-direction: column;
    margin: 1%;
}
#title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    gap: 0;
}
#title h1{
    font-size: 8dvi;
}
#content p{
    font-size: 3dvi;
}
#navigation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-items: space-evenly;
}
#navigation a{
    margin: 1%;
    color: lightblue;
    background-color: black;
    border: 1px solid darkred;
}
#navigation a:hover{
    margin: 1%;
    color: lightgreen;
    background-color: darkred;
    border: 1px solid lightblue;
    scale: 1.05;
}
img{
    height: 30dvi;
    width: 30dvi;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    background-color: white;

}
#Advertisement{
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-items: stretch;
    align-items: stretch;
    gap: 5vw;
}
#Advertisement a{
    height: 30dvi;
    width: 30dvi;
}
marquee{
    height: 30dvi;
    width: 30dvi;
}
marquee{
    border: 2px solid lightblue;
    padding: 1%;
}