body{
    width: 99vw;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
}
#page{
    width: 80dvi;
    background-color: black;
    margin-top: 12.5%;
    color: white;
    box-shadow: 10%;
}
header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    margin: 2rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
}

ul {
    list-style: disc inside;
    padding-left: 1rem;
}

h1, h2 {
    color: #333;
}
p{
    color: black;
}