h1{
    font-size: larger;
}
th{
    font-size: large;
}
img{
    height: 25vh;
    width: 25vh;
    padding: 1%;
    margin: 1%;
    justify-self: center;
    align-self: center;
}
td{
    border: 1px solid black;
    padding: 1%;
    margin: 1%;
    justify-self: center;
    align-self: center;
}
