body{
    width: 100vwi;
    background-color: gold;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
}
#page{
    width: 80dvi;
    background-color: white;
    margin-top: 12.5%;
}
h1{
    font-size: 10dvi;
    color: gold;
}
#page{

}
p{
    font-size: 5vi;
    color: grey;
    margin-left: 6.75%;
}
a{
    font-size: 2vi;
    margin-left: 3.375%;
}
img{
    height: 18vi;
    width: 18vi;
    border: 1px solid gold;
}
#title{
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin-left: 6.75%;
    gap: 12.5%;
}
#content{
    margin-left: 12.5%;
}
#navigation{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: 1fr 1fr ;
}
a{
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: gold;
    margin: 1%;
}
a:hover{
    scale: 1.005;
    border: 1px solid  black;
}
div{
    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-content: center;
}